<ion-header [translucent]="true" class="ion-no-border ion-padding-bottom">
  <ion-toolbar>
    <ion-title>
      Pendents
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-lists [finished]="false" ></app-lists>
<!--<ion-list>
  <ion-item *ngFor="let liste of taskService.liste" (click)="selectedList(liste)" detail>
    <ion-label>{{liste.title}}</ion-label>
    <ion-note slot="end" color="warning">{{ liste.items.length }} items</ion-note>
  </ion-item>

</ion-list>-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [color]="'warning'" (click)="addList()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
